.footer {
    /* background-color: brown; */
    height: 182px;
    width: 100%;
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.footer-title {
    font-size: 20px;
    font-weight: 600;
    color: #6A6180;
}
.footer-text {
    font-size: 18px;
    line-height: 8px;
}
.last{
    background-color: cadetblue;
}