.cadastro-usuario-footer {
    /* background-color: red; */
    height: 136px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cadastro-usuario-footer-alert {
    /* background-color: pink; */
    width: 30%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cadastro-usuario-footer-text {
    /* background-color: slategrey; */
    width: 150px;
    color: #A0A0B2;
}
.cadastro-usuario-footer-button {
    width: 197px;
    height: 56px;
    background-color: #04D361;
    border: 1px solid #04D361;
    border-radius: 8px;
    color: #fff;
    transition: .3s;
}
.cadastro-usuario-footer-button:hover {
    margin-bottom: 5px;
}