.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lista li { 
    padding: 8px 30px;
    width: 50%;
    border-radius: 8px;
    background: #411AF0;
    margin-bottom: 5px;
}

.lista li:nth-child(odd) { 
    background: #2466E2;
    margin-bottom: 5px;
}

.user {
    color: #fff;
    font-weight: 500;
}

.text {
    color: #fff;
}