.carroussel {
    margin: 0 auto;
    width: 87%;
    /* border: 3px solid springgreen; */
}
.slide-content {
    position: absolute;
    top: 35px;
    left: 49px;
    text-align: left;
}
.slide-content-title {
    font-size: '36px';
    color: #fff;
}
.slide-content-text {
    font-size: 22px;
    font-weight: 500;
    color: #fff;    
    width: 480px;
}
.welcome {
    height: 168px;
    background-color: #F0F0F4;
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.welcome-content-text {
    /* background-color: steelblue; */
    margin: 0 80px;
}
.welcome-text-first {
    font-size: 20px;
    color: #6A6180;
}
.welcome-text-second {
    font-size: 20px;
    color: #6A6180;
    font-weight: 600;
}
.index .welcome-content-button {
    /* background-color: darkblue; */
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0 80px;
}
.index .welcome-button:first-child {
    margin-right: 43px;
}
.index .welcome-button {
    background-color: #fff;
    border: 1px solid #0752DE;
    border-radius: 15px;
    height: 60px;
    width: 200px;
    color: #0752DE;
    transition: margin-bottom .1s;
}
.index .welcome-button:hover {
    background-color: #0752DE;
    border: 1px solid #0752DE;
    color: #ffffff;
    margin-bottom: 3px;
}